.container {
	height: 200px;
	width: 1200px;
	border: solid;
	position: relative;
}

}
.track1 {
	height: 100px;
	width: 1100px;
	border: solid;
	margin-top: 100px;
}
.track2 {
	height: 100px;
	width: 1100px;

	margin-top: 00px;

}
#playerOne {
	height: 50px;
	width: 80px;
	border: solid;
	text-align: center;
	margin-top:10px;
	margin-left:10px;
}
#playerTwo {
	height: 50px;
	width: 80px;
	border: solid;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
}